## VS Code IDE
.vscode
.code-workspace
eclipse-formatter.xml

*.class
*.war
*.log
/target/
hs_err_pid*
.project
.classpath
.impl
*.MF

/DiscussionBoardExamples/*
Module_5/ExpenseTracker/expenses.txt
javafx-sdk-19/*
GradeBookApp/grades.csv
